@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

.header_wrapper {
  width: 100%;
  height: 350px;
  background: url(../images/background.jpg) no-repeat center center;
  background-size: cover;
}

.profile {
  width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
}
.profile_img {
  width: calc(100% - 85%);
  display: inline-block;
}
.profile_img img {
  width: 100%;
  border-radius: 50%;
  display: block;
  border: 1px solid black;
}
.profile_content {
  width: calc(100% - 15%);
  margin-left: 30px;
}
.profile_title {
  font-size: 22px;
  margin-bottom: 10px;
}
.profile_content p {
  margin-bottom: 5px;
}
.profile_content ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile_content ul li {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 14px;
}
.profile_content ul li img {
  margin-right: 2px;
  width: 14px;
}
.profile_content ul li a:hover {
  color: gray;
  cursor: pointer;
}
.profile_content ul li a:active {
  color: #000;
}

.title {
  font-size: 22px;
}

.skills_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 23px 50px;
}
.skills_container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skills_box {
  flex-grow: 3;
  flex-basis: 200px;
  min-width: 340px;
  width: 340px;
  height: 340px;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.skills_title {
  display: inline-block;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
}
.icon_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.icon_box img {
  margin-top: 30px;
  display: inline-block;
  width: 40px;
}
.icon_box img.size1 {
  width: 55px;
}
.icon_box img.size2 {
  width: 100px;
}
.icon_box img.size3 {
  width: 210px;
}
.icon_box img.size4 {
  width: 205px;
}
.icon_box img.size5 {
  width: 80px;
}

@keyframes fluffy {
  0% {
    top: 3px;
  }

  60% {
    top: -10px;
  }

  100% {
    top: 5px;
  }
}

.skills_box:hover {
  animation: fluffy 3s linear infinite;
}

.works_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 50px;
}
.works_container {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 2em;
  flex-direction: row;
  justify-content: space-between;
}
.works_content {
  position: relative;
  min-width: 330px;
  flex-grow: 1;
  flex-basis: 150px;
  height: 260px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 50px;
  text-align: center;
}
.works_content.works_size img.size01 {
  margin-top: 0;
}
.works_content:hover .works_info {
  display: block;
}
.works_content img {
  padding-top: 20px;
  width: 100%;
}
.works_content img.size01 {
  margin-top: 40px;
}
.works_content img.size02 {
  padding: 0;
  width: 73%;
}
.works_content img.size03 {
  padding: 0;
}
.works_content:nth-child(13) img {
  width: 100%;
}
.works_content:last-child img {
  width: 145%;
  padding: 10px;
  transform: translate(10px, -25px);
}
.works_info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.8);
  border-radius: 5px;
}
.works_txt {
  padding: 47px 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  align-items: center;
}
.works_txt.padding2 {
  padding: 35px 0;
}
.works_txt p {
  color: #fff;
}
.works_title {
  position: relative;
  font-size: 22px;
  font-weight: 600;
}
.works_title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 130px;
  height: 1px;
  background: #fff;
}
.info_txt {
  margin-top: 40px;
  width: 290px;
  word-break: keep-all;
  line-height: 1.7;
}
.info_txt.line2 {
  margin-top: 25px;
}
.info_txt span {
  font-size: 11px;
  color: #999;
}
.works_btn {
  margin-top: 20px;
  padding: 10px;
  border: 0;
  width: 100px;
  background: #fff;
  cursor: pointer;
  text-align: center;
}

.box_border {
  position: absolute;
  background-color: #fff;
  transition: all 0.5s;
}
.box_border:nth-child(1) {
  left: 15px;
  top: 15px;
  width: 0;
  height: 1px;
}
.box_border:nth-child(2) {
  right: 15px;
  top: 15px;
  width: 1px;
  height: 0;
}
.box_border:nth-child(3) {
  right: 15px;
  bottom: 15px;
  width: 0;
  height: 1px;
}
.box_border:nth-child(4) {
  left: 15px;
  bottom: 15px;
  width: 1px;
  height: 0;
}

.works_info:hover .box_border:nth-child(1) {
  width: 90.7%;
}
.works_info:hover .box_border:nth-child(2) {
  height: 88%;
}
.works_info:hover .box_border:nth-child(3) {
  width: 90.7%;
}
.works_info:hover .box_border:nth-child(4) {
  height: 88%;
}

.footer_wrap {
  width: 100%;
  background-color: #f1f1f1;
}
.footer {
  width: 1200px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .profile {
    width: 100%;
    display: flex;
  }
  .profile_img {
    width: calc(100% - 70%);
  }
  .profile_content {
    width: calc(100% - 30%);
    word-break: keep-all;
    transform: translate(0, -20px);
  }
  .profile_content ul {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    row-gap: 10px;
  }
  .skills_wrap {
    max-width: 700px;
  }
  .skills_box {
    min-width: 200px;
    height: 300px;
  }
  .icon_box img {
    width: 35px;
  }
  .icon_box img.size1 {
    width: 48px;
  }
  .icon_box img.size2 {
    width: 120px;
  }
  .icon_box img.size3 {
    width: 200px;
  }
  .icon_box img.size4 {
    width: 200px;
  }
  .icon_box img.size5 {
    width: 50px;
  }
  .works_wrap {
    max-width: 700px;
  }
  .works_content {
    min-width: 230px;
  }
  .works_content img {
    margin-top: 16px;
  }
  .works_content:nth-child(13) img {
    width: 100%;
  }
  .works_content:last-child img {
    width: 150%;
    transform: translate(0px, -15px);
  }
  .footer {
    width: 768px;
    max-width: 1024px;
  }
}

@media (max-width: 480px) {
  .profile {
    padding: 50px 0px;
    width: 320px;
    flex-direction: column;
  }
  .profile_img {
    width: 150px;
    display: block;
    margin: 0 auto 30px;
  }
  .profile_content {
    margin-left: 0;
    width: 320px;
    text-align: center;
  }
  .profile_content p {
    margin-bottom: 20px;
  }

  .profile_content ul li span {
    min-width: 70px;
  }
  .profile_content ul li a {
    text-align: left;
  }
  .skills_wrap {
    max-width: 320px;
  }
  .skills_box {
    min-width: 200px;
    height: 300px;
  }
  .skills_box:nth-child(2) {
    height: 200px;
  }
  .skills_box:nth-child(3) {
    height: 230px;
  }
  .icon_box img {
    width: 35px;
  }
  .icon_box img.size1 {
    width: 48px;
  }
  .icon_box img.size2 {
    width: 60px;
  }
  .icon_box img.size3 {
    width: 130px;
  }
  .icon_box img.size4 {
    width: 120px;
  }
  .icon_box img.size5 {
    width: 50px;
  }
  .works_wrap {
    max-width: 320px;
  }
  .works_wrap .title {
    margin-bottom: 20px;
  }
  .works_container {
    gap: 0.5em;
  }
  .works_content {
    margin-bottom: 10px;
    min-width: 200px;
    height: 200px;
  }
  .works_content img {
    padding-top: 25px;
  }
  .works_content img.size03 {
    padding-top: 15px;
  }
  .works_content:nth-child(13) img {
    width: 100%;
  }
  .works_content:last-child img {
    width: 150%;
    transform: translate(0px, -5px);
  }
  .works_txt {
    padding: 20px 0;
  }
  .works_txt.padding2,
  .works_txt.padding3 {
    padding: 20px 0;
  }
  .info_txt {
    width: 200px;
    margin-top: 30px;
    font-size: 14px;
  }
  .info_txt.line2,
  .info_txt.line3 {
    margin-top: 18px;
  }
  .info_txt.line2 + .works_btn,
  .info_txt.line3 + .works_btn {
    margin-top: 10px;
  }
  .info_txt span {
    font-size: 9px;
  }
  .footer {
    min-width: 230px;
    width: 320px;
  }
  .footer p {
    font-size: 9px;
  }
}
